<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IndustrialDashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IndustrialDashboard.styles.css" asp-append-version="true" />
</head>
<body>

    <!-- ======================= -->
    <!-- Top Header Bar -->
    <!-- ======================= -->

    <header>
        <nav class="navbar navbar-dark shadow-sm"
             style="background: linear-gradient(90deg, #0077b6, #023e8a);">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <!-- Left side: Title -->
                <h4 class="m-0 text-white">Machine Monitoring</h4>

                <!-- Right side: Logo -->
                <img src="@Url.Content("~/images/eleics-logo.png")" alt="Eleics Logo" height="35" />
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - IndustrialDashboard - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
